*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
        /* common utilities css */
        h1, h2, h3, h4{
            font-family: 'Bebas Neue', cursive;
            font-family: 'Poppins', sans-serif; 
            font-weight: bold;
        }
        /* common utilities css */
/* header part css  */
        .logo{
            width: 50%;
        }
        .nav-link {
            margin-left: 12px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: #000;
        }
        .navbar-light .navbar-nav .nav-link {
            color: #333;
        }
        .navbar {
            position: fixed;
            width: 100%;
        }
        .navbar {
            position: fixed;
            width: 100%;
        }
        header {
            position: absolute;
            width: 100%;
        }

/* header part css  */

/* banner part css  */
            .banner{
                background-color: #FFFBF0;
                padding: 100px 0;
            }
            .banner-con {
                padding-top: 80px;
            }
            .banner-con h1 {
                font-weight: 700;
                font-size: 65px;
                text-transform: uppercase;
            }
            
            .banner-con h1 span {
                color: #FABE4C;
            }       
            .banner-con p {
                font-size: 18px;
                font-weight: 400;
            }      
            a.buy-now {
                text-decoration: none;
                border: 1px solid none;
                padding: 10px 35px;
                border-radius: 5px;
                background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
                color: #fff;
                font-size: 18px;
                font-weight: 400;
                border: 1px solid #fff;
                 display: inline-block;
                transition: 2s;
            }
            .buy-now:hover {
                border-radius: 50px;
                background: transparent;
                border-color: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
                color: olivedrab;
                border-color: olivedrab;
            }
            .buy-now i {
                margin-right: 10px;
            }

/* banner part css  */
/* product part css */
.card {
    padding: 10px;
    box-shadow: 2px 2px 21px gray;
    border-radius: 0.75rem;
}
.jacket-img{
    background: #F1F1F1;
    border-radius: 50px;
}
h4.price {
    margin-right: 38px;
    font-size: 32px;
    font-weight: 700;
    color: gold;
}
a.buy-now-product {
    text-decoration: none;
    border: 1px solid none;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #fff;
     display: inline-block;
}
.pricing a i {
    margin-right: 5px;
}
.product-img {
    padding: 15%;
}
.product-area {
    padding: 80px 0;
}
.product-area-title {
    padding-bottom: 20px;
}
.card-title {
    margin-bottom: .5rem;
    font-size: 25px;
    font-weight: 700;
}
/* product part css */

/* font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif; 
font-family: 'Roboto', sans-serif;*/



/* responsive part css  */



@media (max-width: 576px) { 
    .logo {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        padding-bottom: 25px;
    }

 }


@media (min-width: 768px) { }


@media (min-width: 992px) { }

@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }
/* responsive part css  */